body {
    /* border: 1px solid cyan; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
}

#title {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
 font-size: 1.1rem;
}

#questions h3 {
    margin: 5% auto;
}

#questions {
    /* border: 1px solid green; */
    margin: 7% 5%;
}

.question {
    /* border: 1px solid pink; */
    height: 250px;
    margin: 4% auto;
}

.question p {
    width: 65%;
}

textarea {
    width: 65%;
    resize: none;
    height: 40%;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7% auto;
}

.option {
    /* border: 1px solid orange; */
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 50%;
}

.images img {
    width: 50%;
    aspect-ratio: 1 / 1;
}

.images img:hover {
    cursor: pointer;
}

#submit {
    margin: 4% auto;
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 2%;
}

button:hover {
    cursor: pointer;
}


footer {
    /* border: 1px solid blueviolet; */
    margin: 5% auto;
    width: 90%;
}